hr{color:green;background-color:green;height:20px;width:50%;text-align:left}
.appleton{color:red;}
#zyy{color:green;}
a:link{color:#FF1493}
a:visited{color:#FFDAB9}
a:hover{color:lime}
a:active{color:#FF8C00}
p{padding-left: 20px;text-indent: 2em;border-style:double;border-width: 3px;border-color: blue}
